<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cbproject.caubook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cbproject.caubook.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cbproject.caubook.activities.AgreementActivity">
        </activity>
        <activity
            android:name="com.cbproject.caubook.activities.AddSellingActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.cbproject.caubook.activities.MyBookRegisterActivity" >
        </activity>
        <activity
            android:name="com.cbproject.caubook.activities.TradeTabActivity">
        </activity>
        <activity android:name="com.cbproject.caubook.activities.ChattingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".activities.LoginActivity"></activity>
    </application>

</manifest>
